<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App with Azure Storage</title>
</head>
<body>
    <h1>Flask App with Azure Storage</h1>
    
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".txt,.pdf,.png,.jpg,.jpeg">
        <button type="submit">Upload File</button>
    </form>

    {% if files %}
        <h2>Uploaded Files:</h2>
        <ul>
            {% for file in files %}
                <li>{{ file }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>

